.background {
    background-color: #E9DEF2;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
}
.imgcorner {
    position: absolute;
    right: 3px;
    width: 500px;
    height: 500px;
    margin-top: -3px;
}

.imgcontainer {
    flex: 1;
    display: flex;
    position: absolute;
    right: 60px;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.randomMeals {
    flex: 2;
    display: flex;
    flex-direction: column;    
    justify-content: left;
    align-items: flex-start;
    margin-left: 20px;
}

.titleRandomMeals {
    font-size: 36px;
    font-weight: bold;
    color: #5e2798;
    font-family: 'Nunito', sans-serif;
    margin-top: 40px;
}

.descriptionRandomMeals {
    font-size: 18px;
    color: #8758a8;
    font-family: 'Nunito', sans-serif;
    margin-top: 15px;
    max-width: 600px;
    display: -webkit-box;         
    -webkit-line-clamp: 11;        
    -webkit-box-orient: vertical; 
    overflow: hidden;             
    text-overflow: ellipsis;   
}

.searchBar {
  width: 70%;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 300px auto 0; 
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #5e2798;
  display: block;      
  border: none;
}

.searchBar:focus {
  outline: none;
  box-shadow: 0 0 5px #9066bc;
}


