.background {
    background-color: #E9DEF2;
    height: 100vh;
}

.imgcontainer {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    position: absolute;
    right: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.imgfood {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #5e2798;
    margin-top: 20px;
    margin-left: 30px;
}

.description {
    font-size: 18px;
    color: #7831ab;
    font-family:  'Open Sans', sans-serif;
    margin-top: 15px;
    max-width: 700px;
    margin-left: 30px; 
}

.nutrition {
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: #735197;
    margin-top: 30px;
    margin-left: 30px;
}
.nutritionitem {
    text-align: center;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    padding: 0 30px;
} 
.nutritionitem:not(:first-child) {
  border-left: 1px solid #704999; 
}
 .nutritionitemvalue {
    font-size: 16px;
    font-weight: bold;
    color: #735197;
    display: block;
    font-family: 'Nunito', sans-serif;
    margin-top: 5px;
}

.bottomSpace {
    weight: 80%;
    background: #ffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 80px;
    padding: 10px;
    box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.1);
}

.titleIngredients {
    font-size: 20px;
    font-weight: bold;
    color: #5e2798;
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
}

.ingredientsList {
    font-size: 16px;
    color: #8758a8;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.titleSteps {
    font-size: 20px;
    font-weight: bold;
    color: #5e2798;
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
    margin-top: 30px;
}

.steps {
    font-size: 16px;
    color: #8758a8;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

