.background {
    background-color: #E9DEF2;
    height: 100%;
    padding-bottom: 50px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #5e2798;
    font-family: 'Nunito', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: rgba(226, 206, 229, 0.5);
    margin-top: 30px;
    justify-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    border-radius: 30px;
}

.titleContainer {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    color: #6f3da5;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.titleContainer2 {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    color: #6f3da5;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.containerFoodandImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.containerName {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}

.imageFood {
    flex: 1;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.titleInput {
    font-size: 20px;
    font-weight: 600;
    color: #6f3da5;
    font-family: 'Nunito', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}

.inputBox {
    width: 90%;
    height: 40px;
    margin: 20px auto;
    border-radius: 10px;
    color: #6f3da5;
    background-color: white;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
}

.inputBox2 {
    width: 30%;
    margin-top: 30px;
    margin-right: 20px;
    height: 30px;
    border-radius: 10px;
    color: #6f3da5;
    background-color: white;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
}

.textAreaBox {
    width: 90%;
    height: 100px;
    margin: 20px auto;
    border-radius: 10px;
    color: #6f3da5;
    background-color: white;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
}

.textAreaBox2 {
    width: 90%;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    color: #6f3da5;
    background-color: white;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
}

.addButton {
    width: 200px;
    height: 50px;
    background-color: #6f3da5;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    margin: 30px auto;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}