.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('/bg.jpg'); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.logo {
    width: 140px;
    height: 140px;
    margin-top: 20px;
    padding: 10px;
}

.title {
    color: #4D86CC;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.sentEmail {
    color: #6d75d4;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-position: left;
    width: 850px;
    border-radius: 30px;
    position: relative;
    transform: scale(0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.input {
    padding: 10px;
    margin-top: 40px;
    font-size: 16px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.otpInput {
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: none;
    color: #4D86CC;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.otpInput::-webkit-inner-spin-button,
.otpInput::-webkit-outer-spin-button {
    display: none;
}

.error {
  color: #4D86CC;
  padding: 12px 16px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  animation: fadeIn 0.3s ease-in-out;
}

.buttonverify {
    background-color: #7DA9DF;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
    margin-top: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.buttonverify:hover {
    filter: brightness(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}